<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracer Study</title>
    <meta name="description"
        content="Platform yang memfasilitasi para alumni dalam memperbarui informasi terkait karir dan pendidikan. Data yang dihimpun akan digunakan untuk evaluasi program sekolah dan mendukung keterhubungan antara alumni, sekolah, dan industri." />

    <meta name="keywords"
        content="Tracer Study, alumni tracking, SMK BP Subulul Huda, education, career tracking, website development, Tailwind CSS" />
    <meta name="author" content="Tracer Study Team - SMK BP Subulul Huda" />


    <link href="assets/landing/images/smk-bp.png" rel="icon" type="image/png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Css -->
    <link href="assets/landing/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
    <link href="assets/landing/libs/tobii/css/tobii.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="assets/landing/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
    <link href="assets/landing/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/landing/css/tailwind.min.css" />
</head>

<body>
    <nav id="topnav" class="defaultscroll is-sticky">
        <div class="container relative">
            <!-- Logo container-->
            <a class="logo" href="index.html">
                <img src="assets/landing/images/logo-dark.png" class="inline-block dark:hidden" alt="" width="170">
                <img src="assets/landing/images/logo-light.png" class="hidden dark:inline-block" alt="" width="170">
            </a>
            <!-- End Logo container-->

            <!-- Start Mobile Toggle -->
            <div class="menu-extras">
                <div class="menu-item">
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Mobile Toggle -->

            <!--Login button Start-->
            <ul class="buy-button list-none mb-0">
                <li class="sm:inline ps-1 mb-0 hidden">
                    <a href="/loginPage"
                        class="btn bg-green-600 hover:bg-green-700 border-green-600 dark:border-green-600 text-white !rounded-full"
                        style="font-size: 1.5rem;">Masuk</a>
                </li>
            </ul>
            <!--Login button End-->

            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu !justify-end">
                    <li><a href="/" class="sub-menu-item" style="font-size: 1.5rem;">Home</a></li>

                    <li><a href="/berita" class="sub-menu-item" style="font-size: 1.5rem;">Berita</a></li>
                    <li><a href="/lowongan" class="sub-menu-item" style="font-size: 1.5rem;">Lowongan</a></li>
                    <li><a href="/saran" class="sub-menu-item" style="font-size: 1.5rem;">Saran</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Start -->
    <section class="relative mt-20">
        <div class="container-fluid md:mx-4 mx-2">
            <div class="relative pt-40 pb-52 table w-full rounded-2xl shadow-md overflow-hidden" id="home"
                style="background-image: url('/assets/landing/images/bg-hero.jpg'); background-size: cover; background-position: center;">
                <div class="absolute inset-0 bg-black/60"></div>
                <div class="container relative">
                    <div class="grid grid-cols-1">
                        <div class="md:text-start text-center">
                            <h1 class="font-bold text-white lg:leading-normal leading-normal text-5xl lg:text-6xl mb-6">
                                Selamat Datang di <br> <span class="text-green-600">TRACER STUDY</span></h1>
                            <p class="text-white/70 text-2xl max-w-xl">Platform yang memfasilitasi para alumni SMK BP
                                Subulul
                                Huda dalam memperbarui
                                informasi terkait karir dan
                                pendidikan.</p>
                            <div class="mt-4">
                                <a href="/loginPage"
                                    class="btn bg-green-600 hover:bg-green-700 text-white rounded-md mt-3"
                                    style="font-size: 1.5rem;">Masuk
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container relative lg:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-4xl md:leading-normal text-2xl leading-normal font-semibold">Tujuan dan Manfaat</h3>
            <p class="text-slate-400 max-w-xl mx-auto text-xl">Bersama membangun masa depan</p>
        </div><!--end grid-->

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
            <!-- Content -->
            <div
                class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                <div class="relative overflow-hidden text-transparent -m-3">
                    <i data-feather="hexagon" class="size-32 fill-green-600/5 mx-auto"></i>
                    <div
                        class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                        <i class="uil uil-estate"></i>
                    </div>
                </div>

                <div class="mt-6">
                    <h5 class="text-3xl font-medium">Jejak Langkah Alumni</h5>
                    <p class="text-slate-400 mt-3">Kami ingin memetakan perjalanan karir Anda setelah lulus sebagai
                        bahan evaluasi dan pengembangan program studi.</p>
                </div>
            </div>
            <!-- Content -->

            <!-- Content -->
            <div
                class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                <div class="relative overflow-hidden text-transparent -m-3">
                    <i data-feather="hexagon" class="size-32 fill-green-600/5 mx-auto"></i>
                    <div
                        class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                        <i class="uil uil-bag"></i>
                    </div>
                </div>

                <div class="mt-6">
                    <h5 class="text-3xl font-medium">Dukungan<br>Karir</h5>
                    <p class="text-slate-400 mt-3">Tracer Study membantu mendapatkan pekerjaan dengan fitur lowongan</p>
                </div>
            </div>
            <!-- Content -->

            <!-- Content -->
            <div
                class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                <div class="relative overflow-hidden text-transparent -m-3">
                    <i data-feather="hexagon" class="size-32 fill-green-600/5 mx-auto"></i>
                    <div
                        class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                        <i class="uil uil-key-skeleton"></i>
                    </div>
                </div>

                <div class="mt-6">
                    <h5 class="text-3xl font-medium">Peningkatan Mutu Pendidikan</h5>
                    <p class="text-slate-400 mt-3">Umpan balik Anda
                        menjadi dasar perbaikan dan inovasi pendidikan di institusi kami.
                    </p>
                </div>
            </div>
            <!-- Content -->
        </div><!--end grid-->
    </div><!--end container-->

    <footer class="relative bg-slate-900 dark:bg-slate-800 mt-24">
        <div class="container relative">
            <div class="grid grid-cols-1">
                <div class="relative py-16">
                    <!-- Subscribe -->
                    <div class="relative w-full">

                        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px] mt-14">
                            <div class="lg:col-span-4 md:col-span-12">
                                <a href="#" class="text-[22px] focus:outline-none">
                                    <img src="assets/landing/images/logo-light.png" alt="">
                                </a>
                                <p class="mt-6 text-gray-300">Platform yang memfasilitasi para alumni dalam memperbarui
                                    informasi terkait karir dan
                                    pendidikan.</p>

                            </div>

                            <div class="lg:col-span-4 md:col-span-4">
                                <h5 class="tracking-[1px] text-gray-100 font-semibold">Menu</h5>
                                <ul class="list-none footer-list mt-6">
                                    <li><a href="/"
                                            class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                class="uil uil-angle-right-b me-1"></i>Home</a></li>
                                    <li class="mt-[10px]"><a href="/berita"
                                            class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                class="uil uil-angle-right-b me-1"></i>Berita</a></li>
                                    <li class="mt-[10px]"><a href="/lowongan"
                                            class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                class="uil uil-angle-right-b me-1"></i>Lowongan</a></li>
                                    <li class="mt-[10px]"><a href="/saran"
                                            class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out"><i
                                                class="uil uil-angle-right-b me-1"></i> Saran</a></li>
                                </ul>
                            </div><!--end col-->

                            <div class="lg:col-span-4 md:col-span-4">
                                <h5 class="tracking-[1px] text-gray-100 font-semibold">Contact Details</h5>


                                <div class="flex mt-6">
                                    <i data-feather="map-pin" class="size-5 text-green-600 me-3"></i>
                                    <div class="">
                                        <h6 class="text-gray-300 mb-2">Jalan Anggur, RT.8/RW.2,<br> Kembangsawit,
                                            Rejosari,<br>
                                            Kebon Sari, Madiun Regency, East Java 63173</h6>
                                        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.60992800336!2d111.4765123750043!3d-7.72493229229321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e79981ca25d32a5%3A0xece99a71c6c89e69!2sPondok%20Pesantren%20Subulul%20Huda!5e0!3m2!1sid!2sid!4v1747219372907!5m2!1sid!2sid"
                                            data-type="iframe"
                                            class="text-green-600 hover:text-green-700 duration-500 ease-in-out lightbox">View
                                            on Google map</a>
                                    </div>
                                </div>

                                <div class="flex mt-6">
                                    <i data-feather="mail" class="size-5 text-green-600 me-3"></i>
                                    <div class="">
                                        <a href="mailto:smkbpsubululhuda@gmail.com"
                                            class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">smkbpsubululhuda@gmail.com</a>
                                    </div>
                                </div>

                                <div class="flex mt-6">
                                    <i data-feather="phone" class="size-5 text-green-600 me-3"></i>
                                    <div class="">
                                        <a href="tel:+152534-468-854"
                                            class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">(0351)
                                            366704</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end grid-->
                    </div>
                    <!-- Subscribe -->
                </div>
            </div>
        </div><!--end container-->

        <div class="py-[30px] px-0 border-t border-gray-800 dark:border-gray-700">
            <div class="container relative text-center">
                <div class="grid md:grid-cols-2 items-center gap-6">
                    <div class="md:text-start text-center">
                        <p class="mb-0 text-gray-300">©
                            <script>document.write(new Date().getFullYear())</script> SMK BP Subulul Huda
                        </p>
                    </div>

                    <ul class="list-none md:text-end text-center">
                        <li class="inline"><a href="https://www.facebook.com/shreethemes" target="_blank"
                                class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i
                                    data-feather="facebook" class="size-4"></i></a></li>
                        <li class="inline"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                                class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i
                                    data-feather="instagram" class="size-4"></i></a></li>
                        <li class="inline"><a href="mailto:support@shreethemes.in"
                                class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i
                                    data-feather="mail" class="size-4"></i></a></li>
                    </ul><!--end icon-->
                </div><!--end grid-->
            </div><!--end container-->
        </div>
    </footer>

    <!-- JAVASCRIPTS -->
    <script src="assets/landing/libs/tiny-slider/min/tiny-slider.js"></script>
    <script src="assets/landing/libs/tobii/js/tobii.min.js"></script>
    <script src="assets/landing/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="assets/landing/libs/feather-icons/feather.min.js"></script>
    <script src="assets/landing/js/plugins.init.js"></script>
    <script src="assets/landing/js/app.js"></script>
    <!-- JAVASCRIPTS -->

</body>

</html>