<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="coderthemes" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/admin/smk-bp.png">

    <!-- Css -->
    <link href="assets/admin/libs/jsvectormap/jsvectormap.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="assets/admin/libs/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="assets/admin/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/admin/css/tailwind.min.css">
</head>

<body>
    <div class="page-wrapper toggled">
        <!-- sidebar-wrapper -->
        <nav id="sidebar" class="sidebar-wrapper sidebar-dark">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="/"><img src="assets/admin/images/logo-light.png" alt="" width="200px"></a>
                </div>

                <ul class="sidebar-menu border-t border-white/10" data-simplebar style="height: calc(100% - 70px);">
                    <li>
                        <a href="/admin"><i class="mdi mdi-chart-bell-curve-cumulative me-2"></i>Dashboard</a>
                    </li>

                    <li>
                        <a href="explore-property.html"><i class="mdi mdi-home-city me-2"></i>Alumni </a>
                    </li>

                    <li>
                        <a href="favorite-property.html"><i class="mdi mdi-home-heart me-2"></i>Berita </a>
                    </li>

                    <li>
                        <a href="add-property.html"><i class="mdi mdi-home-plus me-2"></i>Lowongan </a>
                    </li>

                    <li>
                        <a href="chat.html"><i class="mdi mdi-chat-outline me-2"></i>Saran</a>
                    </li>


                </ul>
                <!-- sidebar-menu  -->
            </div>
        </nav>
        <!-- sidebar-wrapper  -->

        <!-- Start Page Content -->
        <main class="page-content bg-gray-50 dark:bg-slate-800">
            <!-- Top Header -->
            <div class="top-header">
                <div class="header-bar flex justify-between">
                    <div class="flex items-center space-x-1">
                        <!-- Logo -->
                        <a href="#" class="xl:hidden block me-2">
                            <img src="assets/admin/images/logo-icon-32.png" class="md:hidden block" alt="">
                            <span class="md:block hidden">
                                <img src="assets/admin/images/logo-dark.png" class="inline-block dark:hidden" alt=""
                                    width="200px">
                                <img src="assets/admin/images/logo-light.png" class="hidden dark:inline-block" alt=""
                                    width="200px">
                            </span>
                        </a>
                        <!-- Logo -->

                        <!-- show or close sidebar -->
                        <a id="close-sidebar"
                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-gray-100 dark:border-gray-800 text-slate-900 dark:text-white rounded-md"
                            href="javascript:void(0)">
                            <i data-feather="menu" class="size-4"></i>
                        </a>
                        <!-- show or close sidebar -->
                    </div>

                    <ul class="list-none mb-0 space-x-1">

                        <!-- User/Profile Dropdown -->
                        <li class="dropdown inline-block relative">
                            <button data-dropdown-toggle="dropdown" class="dropdown-toggle items-center" type="button">
                                <span
                                    class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-50 dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-slate-700 border border-gray-100 dark:border-gray-800 text-slate-900 dark:text-white rounded-md"><img
                                        src="assets/admin/images/profile-icon-light.png" class="rounded-md w-full"
                                        alt=""></span>
                            </button>
                            <!-- Dropdown menu -->
                            <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-44 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 hidden"
                                onclick="event.stopPropagation();">
                                <ul class="py-2 text-start">
                                    <li>
                                        <a href="/admin/profile"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-account-outline me-2"></i>Profile</a>
                                    </li>
                                    <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                                    <li>
                                        <a href="/logout"
                                            class="block py-1 px-4 dark:text-white/70 hover:text-green-600 dark:hover:text-white"><i
                                                class="mdi mdi-logout me-2"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--end dropdown-->
                        <!-- User/Profile Dropdown -->
                    </ul>
                </div>
            </div>
            <!-- Top Header -->

            <div class="container-fluid relative px-3">
                <div class="layout-specing">
                    <!-- Start Content -->
                    <div class="flex justify-between items-center">
                        <div>
                            <h5 class="text-xl font-semibold">Hello, Admin</h5>
                            <h6 class="text-slate-400">Selamat Datang Kembali!</h6>
                        </div>
                    </div>

                    <div class="grid xl:grid-cols-5 md:grid-cols-3 grid-cols-1 mt-6 gap-6">
                        <div
                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900">
                            <div class="p-5 flex items-center justify-between">
                                <span class="me-3">
                                    <span class="text-slate-400 block">Total</span>
                                    <span class="flex items-center justify-between mt-1">
                                        <span class="text-2xl font-medium"><span class="counter-value"
                                                data-target="45890">42205</span></span>
                                    </span>
                                </span>

                                <span
                                    class="flex justify-center items-center rounded-md size-12 min-w-[48px] bg-slate-50 dark:bg-slate-800 shadow-sm shadow-gray-100 dark:shadow-gray-700 text-green-600">
                                    <i class="mdi mdi-currency-usd text-[28px]"></i>
                                </span>
                            </div>
                        </div><!--end-->

                        <div
                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900">
                            <div class="p-5 flex items-center justify-between">
                                <span class="me-3">
                                    <span class="text-slate-400 block">Total</span>
                                    <span class="flex items-center justify-between mt-1">
                                        <span class="text-2xl font-medium"><span class="counter-value"
                                                data-target="2456">1857</span></span>
                                    </span>
                                </span>

                                <span
                                    class="flex justify-center items-center rounded-md size-12 min-w-[48px] bg-slate-50 dark:bg-slate-800 shadow-sm shadow-gray-100 dark:shadow-gray-700 text-green-600">
                                    <i class="mdi mdi-account-group-outline text-[28px]"></i>
                                </span>
                            </div>
                        </div><!--end-->

                        <div
                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900">
                            <div class="p-5 flex items-center justify-between">
                                <span class="me-3">
                                    <span class="text-slate-400 block">Total </span>
                                    <span class="flex items-center justify-between mt-1">
                                        <span class="text-2xl font-medium"><span class="counter-value"
                                                data-target="358">54</span></span>
                                    </span>
                                </span>

                                <span
                                    class="flex justify-center items-center rounded-md size-12 min-w-[48px] bg-slate-50 dark:bg-slate-800 shadow-sm shadow-gray-100 dark:shadow-gray-700 text-green-600">
                                    <i class="mdi mdi-home-city-outline text-[28px]"></i>
                                </span>
                            </div>
                        </div><!--end-->

                        <div
                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900">
                            <div class="p-5 flex items-center justify-between">
                                <span class="me-3">
                                    <span class="text-slate-400 block">Total</span>
                                    <span class="flex items-center justify-between mt-1">
                                        <span class="text-2xl font-medium"><span class="counter-value"
                                                data-target="243">60</span></span>
                                    </span>
                                </span>

                                <span
                                    class="flex justify-center items-center rounded-md size-12 min-w-[48px] bg-slate-50 dark:bg-slate-800 shadow-sm shadow-gray-100 dark:shadow-gray-700 text-green-600">
                                    <i class="mdi mdi-home-lightning-bolt-outline text-[28px]"></i>
                                </span>
                            </div>
                        </div><!--end-->

                        <div
                            class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-700 bg-white dark:bg-slate-900">
                            <div class="p-5 flex items-center justify-between">
                                <span class="me-3">
                                    <span class="text-slate-400 block">Total</span>
                                    <span class="flex items-center justify-between mt-1">
                                        <span class="text-2xl font-medium"><span class="counter-value"
                                                data-target="115">45</span></span>
                                    </span>
                                </span>

                                <span
                                    class="flex justify-center items-center rounded-md size-12 min-w-[48px] bg-slate-50 dark:bg-slate-800 shadow-sm shadow-gray-100 dark:shadow-gray-700 text-green-600">
                                    <i class="mdi mdi-home-clock-outline text-[28px]"></i>
                                </span>
                            </div>
                        </div><!--end-->
                    </div>

                    <script src="assets/admin/libs/jsvectormap/jsvectormap.min.js"></script>
                    <script src="assets/admin/libs/jsvectormap/maps/world.js"></script>
                    <script src="assets/admin/js/jsvectormap.init.js"></script>
                    <script src="assets/admin/libs/apexcharts/apexcharts.min.js"></script>
                    <script src="assets/admin/libs/feather-icons/feather.min.js"></script>
                    <script src="assets/admin/libs/simplebar/simplebar.min.js"></script>
                    <script src="assets/admin/js/plugins.init.js"></script>
                    <script src="assets/admin/js/app.js"></script>
</body>

</html>